.code-list > li {
    float: left;
    list-style: none;
    margin: 25px 0 0 25px;
    text-align: center;

	& > .number {
		@include gradient(#2db8ef, #026eac);
		border-radius: 5px;
		font-size: 1.5em;
		font-weight: 700;
		text-align: center;
		color: #fff;
		display: block;

		&.empty {
			background: #fff;
		}

		&.active {
			@include gradient(#60cc18, #44ab01);
		}
	}
}