.hidden {
	display: none;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 50px;
	width: 100%;
	@include gradient(#2db8ef, #026eac);
	color: #fff;
	line-height: 50px;

	> .header-icon-holder {
		position: absolute;
		top: 0;
		right: 0;
	}
}

h1 {
	margin-left: 25px;
	font-size: 1.25m;
	font-weight: 700;
	text-align: center;
}

.header-icon-holder {
	width: 50px;
	height: 50px;

	& > .settings-icon {
		display: none;
		margin: 9px;
	}

	& > .save-icon {
		display: block;
		margin: 9px;
	}

	&.settings {
		& > .settings-icon {
			display: block;
		}

		& > .save-icon {
			display: none;
		}
	}
}