.hidden {
	display: none;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 50px;
	width: 100%;
	@include gradient(#2db8ef, #026eac);
	color: #fff;
	line-height: 50px;

	> h1 {
		float: left;
	}

	> .header-icon-holder {
		float: right;
	}
}

h1 {
	margin-left: 5px;
	font-size: 1em;
}

.header-icon-holder {
	width: 50px;
	height: 50px;

	& > .icon {
		margin: 9px;
	}

	& > .settings-icon {
		display: none;
	}

	& > .save-icon {
		display: block;
	}

	&.settings {
		& > .settings-icon {
			display: block;
		}

		& > .save-icon {
			display: none;
		}
	}
}