/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  height: 100%; }

.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden; }

.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease; }
  .main-wrapper.active {
    left: -100%; }

.main-item {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden; }
  .main-item.scroll {
    overflow-y: auto; }

.main-item-wrapper {
  padding: 50px 0 25px; }

.msg-wrapper {
  z-index: 10;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 25px;
  opacity: 1;
  transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease; }
  .msg-wrapper.hidden {
    opacity: 0;
    display: block; }

.msg {
  background: rgba(0, 0, 0, 0.6);
  margin: 0 25px;
  border-radius: 25px;
  text-align: center;
  line-height: 25px;
  color: #fff; }

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important; }

.hidden {
  display: none; }

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  background-color: #026eac;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2db8ef), to(#026eac));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2db8ef, #026eac);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2db8ef, #026eac);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2db8ef, #026eac);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2db8ef, #026eac);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2db8ef, #026eac);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2db8ef', EndColorStr='#026eac');
  color: #fff;
  line-height: 50px; }
  header > .header-icon-holder {
    position: absolute;
    top: 0;
    right: 0; }

h1 {
  font-size: 1.25em;
  font-weight: 700;
  text-align: center; }

.header-icon-holder {
  width: 50px;
  height: 50px; }
  .header-icon-holder > .settings-icon {
    display: none;
    margin: 9px; }
  .header-icon-holder > .save-icon {
    display: block;
    margin: 9px; }
  .header-icon-holder.settings > .settings-icon {
    display: block; }
  .header-icon-holder.settings > .save-icon {
    display: none; }

.code-list > li {
  float: left;
  list-style: none;
  margin: 25px 0 0 25px;
  text-align: center; }
  .code-list > li > .number {
    background-color: #026eac;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2db8ef), to(#026eac));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #2db8ef, #026eac);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #2db8ef, #026eac);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #2db8ef, #026eac);
    /* IE10 */
    background-image: -o-linear-gradient(top, #2db8ef, #026eac);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #2db8ef, #026eac);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2db8ef', EndColorStr='#026eac');
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    display: block; }
    .code-list > li > .number.empty {
      background: #fff; }
    .code-list > li > .number.active {
      background-color: #44ab01;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#60cc18), to(#44ab01));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #60cc18, #44ab01);
      /* Chrome 10+, Saf5.1+, iOS 5+ */
      background-image: -moz-linear-gradient(top, #60cc18, #44ab01);
      /* FF3.6 */
      background-image: -ms-linear-gradient(top, #60cc18, #44ab01);
      /* IE10 */
      background-image: -o-linear-gradient(top, #60cc18, #44ab01);
      /* Opera 11.10+ */
      background-image: linear-gradient(top, #60cc18, #44ab01);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#60cc18', EndColorStr='#44ab01'); }

.edit-code-list {
  margin-bottom: 25px;
  float: left; }

.edit-code-list > li {
  display: block;
  margin-top: 25px;
  float: left;
  width: 100%; }

.edit-code-item {
  list-style: none;
  position: relative;
  margin: 0 25px; }
  .edit-code-item > .number {
    background-color: #026eac;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2db8ef), to(#026eac));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #2db8ef, #026eac);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #2db8ef, #026eac);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #2db8ef, #026eac);
    /* IE10 */
    background-image: -o-linear-gradient(top, #2db8ef, #026eac);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #2db8ef, #026eac);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2db8ef', EndColorStr='#026eac');
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 0; }
  .edit-code-item > .code {
    margin-left: 50px;
    display: block;
    height: 23px;
    line-height: 23px;
    border: none;
    border-bottom: 2px solid #026eac;
    text-align: center;
    color: #026eac;
    font-weight: 700;
    font-size: 1.25em; }

